.card{
  
      color: ivory;
      background: rgb(66, 87, 156);
      background: linear-gradient(90deg,rgb(66, 98, 156)0%,rgb(133, 142, 228)100%);  
    

     } 

.black-border{

    border: 1px solid black;
}
.claim{
    color: ivory;
    background: rgb(66, 87, 156);
    background: linear-gradient(90deg,rgb(66, 98, 156)0%,rgb(133, 142, 228)100%);  
}