<div class="container">
    <div class="row">
     <div class="col-md-6">
  <div class="card">
    <div class="text-center">
      <h1>Login</h1>
      <h6>Please eneter UserName & password !!</h6>
    </div>
    
      <form >
        <div class="mb-3">
          <label for="exampleInputUserName" class="form-label">UserName</label>
          <input type="text" class="form-control" [(ngModel)]="LogindataModel.userName" [ngModelOptions]="{standalone: true}"  id="exampleInputusername">
          
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" [(ngModel)]="LogindataModel.password" [ngModelOptions]="{standalone: true}"  class="form-control" id="exampleInputPassword1">
          
        </div>
       
        <button type="button" (click)="loginUser()" class="btn" style="color:beige;background-color:black;">Login</button>
        
        <div style="margin-top: 0.5rem;">
            <button type="button" (click)="registerclick()"  class="btn" style="color:beige;background-color:black;">Register</button>
        </div>
        
      </form>
    
  </div>
     </div>
    </div>
  </div>
  <a type="button" id="btnerrormsg" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display:none;">
    Launch demo modal</a>
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Error</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{Errormsg}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>