<div class="container ">
   <!--  <div class="row">
     <div class="col-md-6"> -->
      
  <div class="card">
    <div style="margin-left: 90%;">
      <button type="button" (click)="login()"  class="btn" style="color:beige;background-color:black;">Login</button>
  </div>
    <div class="text-center">
      <h1>Sign Up</h1>
      <h6>Register Yourself !!</h6>
    </div>
    
      <form [formGroup]="UserdataModel.formUserGroup">
         <div class="mb-3">
            <label for="exampleInputFirstName" class="form-label">First name</label>
            <input type="text" [(ngModel)]="UserdataModel.firstName" formControlName="FirstNameControl"   class="form-control" >
            <!-- <p style="color: red;" [hidden]="!(hasError('required','FirstNameControl'))">First Name is required</p> 
            <p style="color: red;" [hidden]="!(hasError('pattern','FirstNameControl'))">First Name should be min 5 and max 20 charecters</p>  -->    
            <span class="validspan" *ngIf="!UserdataModel.formUserGroup.controls['FirstNameControl'].valid &&
            UserdataModel.formUserGroup.controls['FirstNameControl']?.touched" style="color: red;"> Please enter min 5 charecters max 20.</span>     
          </div>    
          <div class="mb-3">
            <label for="exampleInputLastName" class="form-label">Last name</label>
            <input type="text" [(ngModel)]="UserdataModel.lastName" formControlName="LastNameControl"  class="form-control" >         
            <span class="validspan" *ngIf="!UserdataModel.formUserGroup.controls['LastNameControl'].valid &&
            UserdataModel.formUserGroup.controls['LastNameControl']?.touched" style="color: red;"> Please enter min 5 charecters max 20.</span>       
          </div>  
          <div class="mb-3">
            <label for="exampleInputUserName" class="form-label">User name</label>
            <input type="text" [(ngModel)]="UserdataModel.userName" formControlName="UserNameControl"   class="form-control" >
            <span class="validspan" *ngIf="!UserdataModel.formUserGroup.controls['UserNameControl'].valid &&
            UserdataModel.formUserGroup.controls['UserNameControl']?.touched" style="color: red;"> Please enter UserName.</span>            
          </div>     
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" [(ngModel)]="UserdataModel.password" formControlName="Password1Control"  class="form-control" >
            <span class="validspan" *ngIf="!UserdataModel.formUserGroup.controls['Password1Control'].valid &&
            UserdataModel.formUserGroup.controls['Password1Control']?.touched" style="color: red;"> Please enter valid Password.</span>           
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
            <input type="password" [(ngModel)]="UserdataModel.conPassword" formControlName="Password2Control"  class="form-control" > 
            <span class="validspan" *ngIf="!UserdataModel.formUserGroup.controls['Password2Control'].valid &&
            UserdataModel.formUserGroup.controls['Password2Control']?.touched" style="color: red;"> Please enter Confirm Password.</span>                      
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Address</label>
            <textarea class="form-control" [(ngModel)]="UserdataModel.address" formControlName="AddressControl"  id="exampleFormControlTextarea1" rows="3"></textarea>
            <span class="validspan" *ngIf="!UserdataModel.formUserGroup.controls['AddressControl'].valid &&
            UserdataModel.formUserGroup.controls['AddressControl']?.touched" style="color: red;"> Please enter Address.</span>  
          </div>
          <div class="mb-3">
            <label for="exampleInputState" class="form-label">State</label>
            <!-- <input type="text" [(ngModel)]="UserdataModel.state" formControlName="StateControl"  class="form-control" > -->
            <select class="form-select" [(ngModel)]="UserdataModel.state" formControlName="StateControl">
              <option selected>Choose...</option>
              <option *ngFor= "let state of StateDataModels">
                {{state.stateName}}
              </option>
              
            </select>
            <span class="validspan" *ngIf="!UserdataModel.formUserGroup.controls['StateControl'].valid &&
            UserdataModel.formUserGroup.controls['StateControl']?.touched" style="color: red;"> Please select State.</span>        
          </div> 
          <div class="mb-3">
            <label for="exampleInputCity" class="form-label">City</label>
            <input type="text" [(ngModel)]="UserdataModel.city" formControlName="CityControl"  class="form-control" > 
            <span class="validspan" *ngIf="!UserdataModel.formUserGroup.controls['CityControl'].valid &&
            UserdataModel.formUserGroup.controls['CityControl']?.touched" style="color: red;"> Please enter City.</span>                  
          </div> 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" [(ngModel)]="UserdataModel.email" formControlName="EmailControl" class="form-control" aria-describedby="emailHelp">
          <span class="validspan" *ngIf="!UserdataModel.formUserGroup.controls['EmailControl'].valid &&
            UserdataModel.formUserGroup.controls['EmailControl']?.touched" style="color: red;"> Please enter valid email.</span>
          
        </div>
        <div class="mb-3">
          <label for="exampleInputDOB" class="form-label">Date Of Birth</label>
          <input type="date" class="form-control" [(ngModel)]="UserdataModel.dateOfBirth" formControlName="DOBControl"  id="exampleInputPublishers">
          <span class="validspan" *ngIf="!UserdataModel.formUserGroup.controls['DOBControl'].valid &&
            UserdataModel.formUserGroup.controls['DOBControl']?.touched" style="color: red;"> Please select DOB.</span>
        </div>
        
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">User Role</label>
          <select class="form-select" [(ngModel)]="UserdataModel.memberType" formControlName="roleControl">
            <!--<option selected>Choose...</option> -->
            <option value="1">Admin</option>
            <option value="2">Member</option>
          </select>  
          <span class="validspan" *ngIf="!UserdataModel.formUserGroup.controls['roleControl'].valid &&
            UserdataModel.formUserGroup.controls['roleControl']?.touched" style="color: red;"> Please select User Role.</span>
        </div>
        <button type="button" [disabled]="(UserdataModel.formUserGroup.invalid)" (click)="registerUser()"  class="btn" style="color: beige;background-color: black;">Submit</button>
      </form>
    
  </div>
   <!--   </div>
    </div> -->
  </div>

  <!-- Button trigger modal -->
<button id="btnError" style="display: none;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Error
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        {{ErrorMsg}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
